<section id="header">
  <div class="header_name">
    <h1>Joshua Viszlai</h1>
    <h2>Computer Sciencer</h2>
    <div class="header_icons">
        <a aria-label="E-mail" href="mailto:viszlai@gatech.edu"><i class="far fa-envelope"></i></a>
        <a aria-label="GitHub" href="https://github.com/jviszlai"><i class="fab fa-github"></i></a>
        <a aria-label="LinkedIn" href="https://www.linkedin.com/in/joshua-viszlai-909797144/"><i class="fab fa-linkedin"></i></a>
        <a aria-label="Resume" href="/assets/Resume.pdf"><i class="far fa-file-alt"></i></a>

      </div>
  </div>
  <a class="down" href="#about"></a>
</section>