<!DOCTYPE html>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<script src="https://kit.fontawesome.com/55b5e6aec1.js" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon_io/site.webmanifest">
<html lang="en">
  <body>
    {% include header.html %}
    {% include about.html %}
    {% include projects.html %}
  </body>
</html>